.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 1rem;
}

.cart-card {
  margin: 2em;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 5em;
  box-shadow: 0px 25px 40px #1687d933;
}

.action {
  font-size: xx-large;
  color: red;
  display: flex;
  align-self: flex-end;
}

.main-body {
  margin: 0;
  padding: 1rem;
  background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 700;
  color: #2f3841;
}

.product-img {
  max-width: 8rem;
  max-height: 8rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.product-cat {
  color: gray;
  text-transform: uppercase;
}

.subtitle {
  color: gray;
  font-weight: 400;
}

.checkout-btn {
  margin: 2em;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  background-color: rgb(14, 234, 146);
  color: white;
  gap: 5em;
  transition: background-color .5s;
  background-size: 0% 100%;
}

.checkout-btn:hover {
  background-color:#6bc3ef;
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,.7) 100%);
  background-repeat:no-repeat;
  background-size: 200% 100%; 
  transition:background-size 1s, background-color 1s;
}

.btn:active {background-color: rgb(75, 204, 255); transition:background-size 0}


@media screen and (max-width: 960px) {
  .cart-container {
    width: 100%;
  }

  .cart-card {
    border-radius: 10%;
    margin: 1rem;
    padding: 1rem;
    transition-duration: .2s;
    transform: scale(1);
    color: black;
    background: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: 1rem;
  }

  .product-img {
    max-width: 100px;
    max-height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .heading {
    font-size: 8px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2f3841;
  }
}
