
.modalContainer {
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
  position: fixed; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  z-index: 99;
  overflow-y: auto;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  z-index: 1
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  z-index: 1
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  z-index: 1
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  z-index: 1;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.modalContainer .footer button:hover {
  background-color: rgb(163, 195, 255);
}

.show {
  background: linear-gradient(0deg, rgb(9, 202, 22) 0%, rgba(3,227,29,1) 100%);
  border-radius: 15px;
  color: white;
  font-size: large;
  transition-duration: .2s;
  transform: scale(1);
  padding: 1rem;
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.hide {
  color:white;
  transform: scale(0);
  transition-duration: .3s;
}

#cancelBtn {
  background-color: crimson;
}

#cancelBtn:hover {
  background-color: rgb(254, 67, 104);
}

.subtitle {
  font-style: italic;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .modalContainer {
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    position: fixed; 
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 40%;
    max-width: 90%;
    z-index: 99;
    overflow-y: auto;
    font-size: small;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    z-index: 1
  }

}