
.modalContainer {
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  z-index: 99;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  z-index: 1
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  z-index: 1
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  z-index: 1
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  z-index: 1
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
